 <div class="container mt-5">
    <%= simple_form_for(@article) do |f| %>
        <%= f.input :title %>
        <%= f.input :types %>
        <%= f.input :sexe %>
        <%= f.input :size %>
        <%= f.input :color %>
        <%= f.input :brand %>
        <%= f.input :price %>
        <%= f.input :description %>
        <%= f.input :address %>
        <%= f.button :submit, "Edit my Article", class: "btn btn-danger"%>
    <% end %>
</div>
