<div class="container">
  <h1>Listing Articles</h1>

  <% @articles.each do |article| %>

    
      <div class="card" style="width: 30rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h3><%= article.title %></h3>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><%= article.types %></li>
          <li class="list-group-item"><%= article.sexe %></li>
          <li class="list-group-item"><%= article.size %></li>
          <li class="list-group-item"><%= article.color %></li>
          <li class="list-group-item"><%= article.brand %></li>
          <li class="list-group-item"><%= article.price %></li>
        </ul>
        <div class="card-body">
          <span><%= link_to 'Show', article %></span>
          <span><%= link_to 'Edit', edit_article_path(article) %></span>
          <span><%= link_to "Destroy", article_path(article), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}%></td>
        </div>
      </div>
    

  <% end %>


  <br>
  <%= link_to 'Ajouter un article', new_article_path, class: "btn btn-primary" %>

</div>
