<div class="container mt-5">
  <div class="article">
    <h2><%= @article.types %></h2>
    <p><%= @article.sexe %></p>
    <p><%= @article.size %></p>
    <p><%= @article.color %></p>
    <p><%= @article.brand %></p>
    <p><%= @article.price %></p>
    <p><%= link_to 'Edit', edit_article_path(@article) %></p>
  </div>
</div>
<%= link_to "booking", "/articles/#{@article.id}/bookings/new" %>
